
input[type=text], button {
    padding: 8px;

    &:focus {
        outline:0;
    }
}

button{
    background-color: darken($brand-secondary, 4%);
    border: 1px $border-color-base solid;
    line-height: 1.43857; 
    min-width: 65px;

    &.disabled{
        &:hover{
            cursor: not-allowed;
        }
    }

    &:not(.disabled){
        &:hover{
            cursor: pointer;
            font-weight: 600;
        }
    }

    
    
}