
input[type=text], button {
    padding: 8px;
    border-radius: $border-radius-base;
    border: 1px $border-color-base solid;
    box-shadow:         none;
    -webkit-appearance: none;
    
    &:focus {
        outline:0;
    }
}

button{
    background-color: darken($brand-secondary, 4%);
    min-width: 80px;

    &.disabled{
        &:hover{
            cursor: not-allowed;
        }
    }

    &:not(.disabled){
        &:hover{
            cursor: pointer;
            font-weight: 600;
        }
    }
    
}