$brand-primary:         #565656 !default;
$brand-secondary:       #FFF !default;

$primary-gray: #ddd !default;
$navbar-default-bg: $brand-primary;

$darken-percentage: 25%;
$lighten-percentage: 35%;

$border-radius-base: 0;
$border-color-base: #dfdfdf;

$color-error: #ff9898;

$app-navbar-height: 50px;